h1,h2,h3,h4,h5,h6 {
margin:0 ;
padding 0;
}
.Container {
    width: 90%;
    margin: auto;
    
}

.Container-fluid {
    width: 100%;
    background-image: url(../images/Espacio.jpg);
}
#Encabezado { 
    height: 221px;
    display: flex;
    background-image: url(../images/Cine-Sin.png)  ;
}

    
.titulo * {
    margin: 0;
}
#Buscar , #Encabezado img{
   margin-left: auto;
   justify-content: space-between;
}

#Buscar{
    padding: 5px;
    border-color: red;
    justify-content: space-between;
    width: 200px;
    height: 10px;
    display: flex;
    
}
#Encabezado img{
    height: 25px;
    width: 25px;
    padding: 3px;
    border-color: black;
    
}
#Menu{
    height: 50px;
    display: flex;
    background-color: green;
    justify-content: center;
    font-family: cursive;
}
#Menu li a{
    text-decoration: none;
    color: black;    
}
#Menu li{
    list-style-type: none;
    padding: 20px;
   
}
#Menu li a:hover{
    padding:  7px;
    background-color: greenyellow;
    transition: 0,5s;
}
.Conetenido{
    
}


#Nota-Secundaria{
    min-height:  300px;
    width: 720px;
    display: inline-block;
    
}
#Nota-Secundaria img{
    width: 150px;
    height: 200px;
}
.img-nota-secundaria{
    position: relative;
    width:343px;
    height: 177px;
    display: inline-flex;
    
}
.img-nota-secundaria span{
    font-variant: small-caps;
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lawngreen;
}
#Nota-Secundaria article{
background-image: url('../images/separador-nota-secundaria.png');
background-repeat: no-repeat;
background-position: bottom;
padding-bottom: 40px;
margin-bottom: 20px;
display: flex;
    
}
.sombra-imagen {
    box-shadow: 0px 0px 5px darkgray;
}
.titulo-pelicula{
    color: green;
    line-height: 0,9em;
    font-variant: small-caps;
    
}
.Informacion-pelicula {
    padding-left: 20px;
    padding-right: 10px;
}
.intro-pelicula {
    text-align: justify;
    margin: 10px 0;
}
#Nota-Secundaria p{
    color: white;
    font-variant: small-caps;
}

.boton{
    display: flex;
    background-color: red;
    display: inline-block;
    justify-content: space-between 10px;
    padding: 3px;
    box-shadow:  0px 1px 3px blue;
}
.boton>div {
    padding: 3px 10px;
    border: 1px solid rgba(225,255,255,.7); 
}
.boton p{
    color: black;
    font-variant: small-caps;
    font-size: 1.1em;
}
.Buton{
    display: flex;
    background-color: blue;
    display: inline-block;
    justify-content: space-between 20px;
    padding: 3px;
    box-shadow:  0px 1px 3px blue;
}
.Buton>div {
    padding: 3px 10px;
    border: 1px solid rgba(225,255,255,.7); 
}
.Buton p{
    color: black;
    font-variant: small-caps;
    font-size: 0,9em;
}
#Publicidad{
    height: 300px;
    width: 220px;
    
}
#Numeracion a{
    padding: 10px 5px;
    text-decoration: underline;
    color: green;
}

#Numeracion{
    display: inline-flex;
    font-family: cursive;
    font-size: 0,8;
}

#redes-sociales{
    text-align: center;
    margin-bottom: 10px;
    display: flex;
}
.facebook ,.twitter ,.google, .youtube{
    width: 52px;
    height: 52px;
    display: inline-block;
    text-indent: -9999px;
    transition: 0.5s;
    margin-bottom: auto;
    
}
.facebook {
    background: url('../images/redes.png') 0 0;
}
.twitter {
    background: url('../images/redes.png') -60px 0;
}
.google{
    background: url(../images/redes.png) -115px 0;
}
.youtube{
    background: url(../images/redes.png) -290px 0;
}
.facebook:hover {
    background: url('../images/redes.png') 0 -60px;
}
.twitter:hover {
    background: url('../images/redes.png') -55px -55px;
}
.google:hover {
    background: url('../images/redes.png') -115px -55px;
}
.youtube:hover{
     background: url('../images/redes.png') -290px -55px;
    
}
.img-publicidad {
    position: relative;
    display: flex;
}
.Flexible{
    display: flex;
}

.img-publicidad span{
   font-variant: small-caps;
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lawngreen;
}

#Peliculas-nuevas{
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  
}
.Publicidad-xD img{
   height: auto;
    width: 450px;
}
#Busqueda{
 padding: 5px;
    border-color: yellow;
    object-position: right;
}
#Barra{
    height: 50px;
    display: flex;
    background-color: blue;
    justify-content: center;
    font-family: cursive;
}
#Barra li a{
    text-decoration: none;
    color: black;    
}
#Barra li{
    list-style-type: none;
    padding: 20px;
   
}
#Barra li a:hover{
    padding:  7px;
    background-color: black;
    color: white;
    transition: 0,5s;
}
#politicas {
   text-align: center;
   border-top: 3px double lightgreen;
   border-bottom: 3px double lightgreen;
   padding: 3px 0; 
   color: darkgray;
}
#politicas abbr{
    cursor: help;
    border-bottom: 1px dotted lightgray;
}


#logo-cine-sin{
    background-image: url(../images/ECI2.jpg);
    height: 60px;
    width:  215px;
    display: block;
    text-indent: -9999px;
    margin: auto;
}

#derechos-de-autor p{
    text-align: center;
    font-size: 0,7;
    color: lightgreen;
    
}